{% extends 'admin_home.html' %}
{% load static %}
{% block body %}
<style>
    /* Define table styles */
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
    th {
        background-color: lightgray;
    }

    /* Define header styles */
    h1 {
        font-size: 20px;
        color: blue;
    }
    h2 {
        font-size: 18px;
        color: green;
    }
</style>

<div style="text-align: center;">
    <h1>Employee Attendance Feed</h1>
  </div>
<table style="margin: 0 auto;">
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Present</th>
        <th>Reason</th>
    </tr>
    {% for record in attendance_records %}
<tr>
<td>{{ record.user }}</td>
<td>{{ record.date }}</td>
<td>{{ record.present }}</td>
<td>{{ record.reason }}</td>
</tr>
{% endfor %}
</table>
{% endblock  %}