{% extends 'admin_home.html' %}
{% load static %}
{% block body %}
<style>
    /* Define table styles */
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
    th {
        background-color: lightgray;
    }

    /* Define header styles */
    h1 {
        font-size: 20px;
        color: blue;
    }
    h2 {
        font-size: 18px;
        color: green;
    }
</style>
<center>
  <h1>Employee Salaries</h1>
  <table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Base Salary</th>
            <th>Working Days</th>
            <th>Current Salary</th>
            <th>Withdrawn</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salaries %}
        <tr>
            <td>{{ salary.user.username }}</td>
            <td>{{ salary.base_salary }}</td>
            <td>{{ salary.working_days }}</td>
            <td>{{ salary.current_salary }}</td>
            <td>{{ salary.withdrawn }}</td>
            <td>
                
                <a href="{% url 'update_base_salary' pk=salary.pk %}">Edit</a>
                
                <form method="post" action="{% url 'admin_salary' %}">
                    {% csrf_token %}
                    <input type="hidden" name="salary_id" value="{{ salary.id }}">
                    <input type="submit" value="Reset">
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</center>
{% endblock %}